<head>
    <link rel="stylesheet" href="./css/login.css">
</head>
<div class="login_container">
    <div>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        {{#if createOne}}
            <div class="newAccount">
                <p>Don't have such account.</p>
                <a href="./signIn"><img src="./images/icon/new-account.png" id="createAccount"></a>
            </div>
        {{/if}}
        <h1 id="logo">Login In</h1>
        <form action="./login" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username" placeholder="Type in your username" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password" placeholder="Enter your password" required><br><br>
            <button type="submit" class="login">Log in</button>
        </form>

    </div>
</div>